@import '~antd/dist/antd.css';

.App{

    background: #ececec;
}

.site-card-border-less-wrapper {
    padding: 30px; 
}

.card{
    display: flex;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: center;
}

